[submodule "halpy"]
	path = halpy
	url = https://github.com/UrLab/halpy.git

[submodule "arduino/lib/hal"]
	path = arduino/lib/hal
	url = https://github.com/UrLab/hal-arduino.git
[submodule "driver"]
	path = driver
	url = https://github.com/UrLab/hal-driver.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/UrLab/hal-from-space.git
